
#header {
    position: relative;
    padding: 10px;

    background-color: #e0f0ff;
    border-bottom: 1px black solid;
}

#sitename {
    font-size: 20px;
    font-weight: bold;
}

#sitename a {
    text-decoration: none;
}


#menu {
    position: absolute;
    right: 0px;
    top: 0px;
}

div.menuitem {
    float: right;
    padding: 10px 10px 10px 10px;
//    border-left: 1px black solid;
}



#content {
    position: relative;
    padding: 15px;
    padding-bottom: 30px;
    background-color: #f0f8ff;
    min-height: 300px;
}


#footer {
    width: 100%;
    position: absolute;
    bottom: 0px;

    border-top: 1px black solid;
    background-color: #e0f0ff;
}

#copyright {
    float: right;

    padding-right: 15px;
    font-size: 8px;
}


.big_data_block {
    float: left;
    border: 1px black solid;
    padding: 15px;
    margin: 10px 10px 40px 10px;
    width:  200px;
    height: 150px;
    background-color: #e0f0ff;
    text-align: center;
}

.big_data_source {
    font-size: 24px;
    align: center;
    margin: 10px;
    height: 50px;
}

.big_data_value {
    font-size: 24px;
    align: center;
    margin-top: 30px;
}

.big_data_time {
    font-size: 12px;
    align: center;
    margin-top: 30px;
}


