
#topnav {
    background-color: #e0f0ff;
    border-bottom: 1px black solid;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
 
}

#sitename {
    font-size: 20px;
    font-weight: bold;
    padding-right: 40px;
}

#sitename a {
    text-decoration: none;
}


div.navchoice {
    float: right;
    margin-left: 5px;
    padding-right: 15px;
}



#content {
    padding: 15px;
    background-color: #f0f8ff;

    padding-bottom: 30px;
}



#footer {
    background-color: #e0f0ff;
    width: 100%;
    border-top: 1px black solid;
}

#copyright {
    float: right;
    padding-right: 15px;
    font-size: 8px;
}

